body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 867px;
    max-width: 1100px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 9px;
    position: relative;
}

.container>* {
    padding: 30px;
    background: #5c66d4;
}

#grid {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100%, auto);
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0;
    display: none;
}

#grid p {
    border: 1px solid red;
    background: #000;
    margin: 0;
    opacity: 0.3;
}

input:checked+.container #grid {
    display: grid;
}

header {
    grid-column: 1/-1;
}

aside {
    grid-column: 1/4;
    grid-row: 3/5;
}

section {
    grid-column: 4/-1;
    grid-row: 3/5;
}

nav {
    grid-column: 1/-1;
    grid-row: 2/3;
}

article {
    grid-column: 1/-1;
}

footer {
    grid-column: 1/-1;
}